$advantages-title: #2A2FA3;
$advantages-text: #222A3F;
$white: #FFFFFF;

.advantages {
  position: relative;
  height: 404px;
}

.advantages__wrap {
  position: absolute;
  width: 1240px;
  height: 772px;
  top: 40px;
  left: 380px;
}

.advantages__content {
  position: absolute;
  top: 120px;
  width: 431px;
  .advantages__title {
    margin-bottom: 40px;
    font-family: "Lifehack Sans Bold";
    font-size: 104px;
    line-height: 100%;
    text-transform: uppercase;
    color: $advantages-title;
  }
  .advantages__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 155%;
    color: $advantages-text;
  }
}

.advantages__slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 772px;
  width: 732px;
}

.advantages__item {
  position: absolute;
  overflow: hidden;
  width: 286px;
  height: 286px;
  background: $white;
  box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
  border-radius: 28px;
  .advantages__info {
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 18px;
    right: 18px;
    background: url("../img/advantages/info.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
  }
  .advantages__info_active {
    background: url("../img/advantages/close.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .advantages__icon {
    position: absolute;
    top: 32px;
    left: 63px;
    height: 160px;
    width: 160px;
  }
  .advantages__name {
    position: absolute;
    width: 194px;
    left: 46px;
    top: 207px;
    background: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: $advantages-text;
  }
  .advantages__description {
    position: absolute;
    top: -286px;
    padding: 59px 40px 0 40px;
    width: 286px;
    height: 286px;
    background: $white;
    box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $advantages-text;
    border-radius: 28px;
    background: $white;
    z-index: 5;
    transition: all 1s ease;
  }
  .advantages__description_active {
    top: 0;
  }
}

.advantages__item-first {
  left: 80px;
  top: 0;
  .advantages__icon {
    background: url("../img/advantages/first-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.advantages__item-second {
  left: 446px;
  top: 120px;
  .advantages__icon {
    background: url("../img/advantages/second-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.advantages__item-third {
  left: 0px;
  top: 366px;
  .advantages__icon {
    background: url("../img/advantages/third-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .advantages__name {
    width: 222px;
    left: 32px;
  }
}

.advantages__item-fourth {
  left: 366px;
  top: 486px;
  .advantages__icon {
    background: url("../img/advantages/fourth-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .advantages__name {
    width: 218px;
    left: 34px;
  }
}

.advantages__switch {
  display: none;
}

@media (max-width: 1919px) {
  .advantages {
    height: 323px;
  }

  .advantages__wrap {
    width: 1220px;
    height: 752px;
    top: 0px;
    left: 60px;
  }

  .advantages__content {
    .advantages__title {
      font-size: 90px;
      line-height: 100%;
    }
  }

  .advantages__slider {
    height: 752px;
    width: 712px;
  }
}

@media (max-width: 1439px) {
  .advantages {
    height: 560px;
  }

  .advantages__wrap {
    width: calc(100vw - 80px);
    height: 420px;
    top: 85px;
    left: 40px;
  }

  .advantages__content {
    top: 0px;
    width: 299px;
    .advantages__title {
      margin-bottom: 30px;
      font-size: 72px;
    }
    .advantages__text {
      font-size: 17px;
    }
  }

  .advantages__slider {
    overflow: hidden;
    top: 72px;
    height: 348px;
    width: 260px;
  }

  .advantages__item {
    width: 260px;
    height: 260px;
    transition: all 1s ease;
    .advantages__info {
      width: 32px;
      height: 32px;
    }
    .advantages__icon {
      top: 40px;
      left: 66px;
      height: 130px;
      width: 130px;
    }
    .advantages__name {
      width: 146px;
      left: 57px;
      top: 184px;
      font-size: 15px;
    }
    .advantages__description {
      top: -260px;
      width: 260px;
      height: 260px;
    }
    .advantages__description_active {
      top: 0;
    }
  }

  .advantages__item-first {
    left: 0;
    top: 0;
  }
  .advantages__item-second {
    left: 290px;
    top: 0px;
  }
  .advantages__item-third {
    left: 580px;
    top: 0;
    .advantages__name {
      width: 146px;
      left: 57px;
      top: 184px;
      font-size: 15px;
    }
  }
  .advantages__item-fourth {
    left: 870px;
    top: 0;
    .advantages__name {
      width: 146px;
      left: 57px;
      top: 184px;
      font-size: 15px;
    }
  }

  .advantages__item_left {
    left: -290px;
  }
  .advantages__item_shown {
    left: 0 ;
  }
  .advantages__item_right {
    left: 290px;
  }

  .advantages__switch {
    position: absolute;
    bottom: 0;
    left: 27px;
    width: 206px;
    height: 48px;
    display: flex;
    .advantages__left-arrow {
      cursor: pointer;
      height: 48px;
      width: 48px;
      background: url("../img/advantages/left-arrow-normal.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        background: url("../img/advantages/left-arrow-hover.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .advantages__number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 48px;
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      text-align: center;
      color: $advantages-text;
    }
    .advantages__right-arrow {
      cursor: pointer;
      height: 48px;
      width: 48px;
      background: url("../img/advantages/right-arrow-normal.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        background: url("../img/advantages/right-arrow-hover.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
@media (max-width: 767px) {
  .advantages {
    height: 682px;
  }

  .advantages__wrap {
    width: calc(100vw - 14px);
    height: 615px;
    top: 27px;
    left: 14px;
  }

  .advantages__content {
    width: calc(100vw - 32px);
    .advantages__title {
      margin-bottom: 20px;
      font-size: 48px;
    }
    .advantages__text {
      font-size: 16px;
    }
  }

  .advantages__slider {
    top: 354px;
    height: 288px;
    width: 359px;
  }

  .advantages__item {
    width: 220px;
    height: 220px;
    .advantages__icon {
      top: 30px;
      left: 55px;
      height: 110px;
      width: 110px;
    }
    .advantages__name {
      left: 37px;
      top: 154px;
      font-size: 14px;
    }
    .advantages__description {
      top: -220px;
      width: 220px;
      height: 220px;
      font-size: 12px;
    }
    .advantages__description_active {
      top: 0;
    }
  }

  .advantages__item-second {
    left: 240px;
    z-index: 9;
  }
  .advantages__item-third {
    left: 240px;
    z-index: 8;
    .advantages__name {
      left: 37px;
      top: 154px;
      font-size: 14px;
    }
  }
  .advantages__item-fourth {
    left: 240px;
    top: 0;
    z-index: 7;
    .advantages__name {
      left: 37px;
      top: 154px;
      font-size: 14px;
    }
  }

  .advantages__item_left {
    left: -240px;
  }
  .advantages__item_shown {
    left: 0 ;
  }
  .advantages__item_right {
    left: 240px;
  }

  .advantages__switch {
    left: 23px;
    width: 174px;
    height: 48px;
    .advantages__number {
      width: 78px;
    }
  }
}