$games-white: #FFFFFF;
$games-view: #363078;
$games-view-hover: #28349C;
$games-item-skill: #9594AA;

.games {
  overflow: hidden;
  position: relative;
  height: calc(100vw * 0.9052);
  width: 100%;
  background: url("../img/games/bg-1920.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.games__wrap {
  position: absolute;
  width: 100vw;
  height: 1106px;
  top: 469px;
  left: 380px;
}

.games__content {
  height: 378px;
  width: 1151px;
  .games__title {
    color: $games-white;
    margin-bottom: 40px;
    div {
      font-family: "Lifehack Sans Medium";
      font-size: 200px;
      line-height: 90%;
    }
    h2 {
      font-family: "Lifehack Sans Bold";
      font-size: 104px;
      line-height: 100%;
      text-transform: uppercase;
    }
  }
  .games__description {
    width: 503px;
    font-weight: 500;
    font-size: 20px;
    line-height: 155%;
    color: $games-white;
  }
  .games__btn {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 28px;
    width: 267px;
    height: 72px;
    left: 884px;
    top: 285px;
    background-color: $games-white;
    border-radius: 40px;
    &:active {
      box-shadow: inset 0px 4px 10px rgba(61, 70, 118, 0.2);
    }
    .games__icon {
      height: 36px;
      width: 36px;
      background: url("../img/games/btn-icon.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        background: url("../img/games/btn-icon_hover.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .games__view {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
      color: $games-view;
      &:hover {
        color: $games-view-hover;
      }
      &:active {
        color: $games-view;
      }
    }
  }
}

.games__slider {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  height: 648px;
  width: 100%;
  .games__plate {
    position: absolute;
    top: 0;
    left: -1230px;
    height: 494px;
    display: flex;
    align-items: flex-end;
    width: calc(100% + 1230px);
    .games__move {
      height: 100%;
      flex: 0 0 410px;
      transition: all 0.5s ease;
    }
    .games__move_unactive {
      flex: 0 0 0px;
    }
    .games__item {
      position: relative;
      cursor: pointer;
      margin-right: 80px;
      height: 445px;
      display: flex;
      flex: 0 0 340px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease;
      &:hover {
        margin-right: 53px;
        flex: 0 0 367px;
        height: 494px;
      }
      .games__item-picture {
        position: relative;
        width: 76%;
        height: 78%;
        border-radius: 20px;
        z-index: 10;
      }
      .games__item-picture-first {
        background: url("../img/games/game-list_first.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .games__item-picture-second {
        background: url("../img/games/game-list_second.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .games__item-picture-third {
        background: url("../img/games/game-list_third.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .games__item-picture-fourth {
        background: url("../img/games/game-list_fourth.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .games__item-age {
        position: absolute;
        top: 16px;
        left: 56px;
        width: 60px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $games-view;
        border-radius: 16px;
        font-weight: bold;
        font-size: 22px;
        line-height: 100%;
        color: $games-white;
        z-index: 10;
      }
      .games__item-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background-color: $games-white;
        box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
        border-radius: 30px;
      }
      .games__item-skill {
        position: relative;
        display: flex;
        div {
          margin: 0 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 112px;
          height: 40px;
          background: $games-white;
          border: 2px solid #F2F4F9;
          border-radius: 10px;
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          color: $games-item-skill;
        }
      }
    }
  }
  .games__arrows {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 64px;
    display: flex;
    .games__left, .games__right {
      width: 100px;
      height: 64px;
      background: $games-white;
      border-radius: 32px;
      filter: drop-shadow(0px 2px 14px rgba(61, 70, 118, 0.14));
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .games__left {
      margin-right: 40px;
      &:before {
        content: "";
        position: absolute;
        top: 23px;
        left: 22px;
        width: 33px;
        height: 17px;
        background: url("../img/games/left-normal.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:hover {
        &:before {
          background: url("../img/games/left-hover.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      &:active {
        &:before {
          background: url("../img/games/left-normal.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
    .games__right {
      &:before {
        content: "";
        position: absolute;
        top: 23px;
        right: 22px;
        width: 33px;
        height: 17px;
        background: url("../img/games/right-normal.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

      }
      &:hover {
        &:before {
          background: url("../img/games/right-hover.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      &:active {
        &:before {
          background: url("../img/games/right-normal.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}









@media (max-width: 1919px) {
  .games {
    height: calc(100vw * 1.0944);
    background: url("../img/games/bg-1440.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .games__wrap {
    height: 1006px;
    top: 469px;
    left: 60px;
  }

  .games__content {
    height: 332px;
    width: 1320px;
    .games__title {
      div {
        font-size: 170px;
      }
      h2 {
        font-size: 90px;
      }
    }
    .games__btn {
      padding: 0 40px 0 30px;
      width: 253px;
      height: 66px;
      left: 1067px;
      top: 243px;
      .games__view {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 1439px) {
  .games {
    height: calc(100vw * 1.3294);
    background: url("../img/games/bg-768.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .games__wrap {
    height: 755px;
    top: 145px;
    left: 40px;
  }

  .games__content {
    height: 205px;
    width: 688px;
    .games__title {
      display: flex;
      align-items: flex-end;
      margin-bottom: 23px;
      div {
        font-size: 140px;
        margin-right: 11px;
      }
      h2 {
        font-size: 72px;
        padding-bottom: 8px;
      }
    }
    .games__description {
      width: 368px;
      font-size: 18px;
    }
    .games__btn {
      padding: 0 36px 0 24px;
      width: 226px;
      height: 56px;
      left: 462px;
      top: 144px;
      .games__view {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 767px) {
  .games {
    height: calc(100vw * 2.4613);
    background: url("../img/games/bg-375.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .games__wrap {
    height: 715px;
    top: 60px;
    left: 16px;
  }

  .games__content {
    height: 277px;
    width: calc(100vw - 32px);
    .games__title {
      display: block;
      margin-bottom: 16px;
      div {
        font-size: 96px;
      }
      h2 {
        font-size: 48px;
        padding-bottom: 0px;
      }
    }
    .games__description {
      width: 100%;
      font-size: 16px;
    }
    .games__btn {
      padding: 0 30px 0 16px;
      width: 197px;
      height: 48px;
      left: 146px;
      top: 229px;
      .games__icon {
        height: 30px;
        width: 30px;
      }
      .games__view {
        font-size: 16px;
      }
    }
  }
}