$main-nav-color: #E8E6F8;
$main-nav-background-first: #8228DC;
$main-nav-background-second: #322183;
$main-call-color: #FCFDFF;
$white: #FFFFFF;

.main {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: calc(100vw * 0.68);
  background: url("../img/main/bg-1920.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main__polygons {
  position: absolute;
  top: calc(100vw * 0.1);
  left: calc(100vw * 0.16);
  width: calc(100vw * 0.8);
  height: calc(100vw * 0.5);
  background: url("../img/main/polygons-1920.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.main__logo-bg {
  position: absolute;
  height: calc(100vw);
  width: calc(100vw * 0.38);
  top: calc(-100vw * 0.2);
  left: calc(-100vw * 0.1);
  background: url("../img/main/logo-ellipse.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main__logo {
  position: absolute;
  width: calc(100vw * 0.0625);
  height: calc(100vw * 0.0625);
  top: 19px;
  left: 241px;
  background: url("../img/main/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main__header {
  width: calc(100vw * 0.4619);
  margin-top: 49px;
  margin-left: calc(100vw * 0.2916);
  .nav {
    width: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li>a {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: $main-nav-color;
      }
      .cross {
        display: none;
      }
    }
  }
}

.main__burger {
  display: none;
}

.main__social {
  height: 202px;
  position: absolute;
  top: calc(100vw * 0.4098);
  left: calc(100vw * 0.125);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  .main__instagram, .main__youtube, .main__faceebook {
    display: block;
    height: 45px;
    width: 45px;
  }
  .main__instagram {
    background: url("../img/main/instagram.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .main__youtube {
    background: url("../img/main/youtube.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .main__faceebook {
    background: url("../img/main/faceebook.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.main__content {
  position: absolute;
  top: calc(100vw * 0.1474);
  left: calc(100vw * 0.1979);
  width: 600px;
  .main__call {
    line-height: 100%;
    font-size: 120px;
    font-family:  "Lifehack Sans Medium";
    color: $main-call-color;
    text-transform: uppercase;
  }
  .main__description {
    margin-top: 40px;
    line-height: 140%;
    font-size: 24px;
    color: $white;
  }
  .main__btn {
    width: 340px;
    height: 72px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(92.57deg, #2F8FFF 0%, #2F73F6 100%);
    box-shadow: 0px 10px 36px rgba(47, 230, 255, 0.2);
    border-radius: 40px;
    &:hover {
      background: linear-gradient(92.57deg, #1A83FF 0%, #115EF4 100%);
      box-shadow: 0px 10px 36px rgba(47, 230, 255, 0.2);
    }
    &:active {
      background: linear-gradient(92.57deg, #1A83FF 0%, #115EF4 100%);
      box-shadow: 0px 10px 36px rgba(47, 230, 255, 0.1), inset 0px 6px 8px rgba(34, 42, 63, 0.08);
    }
    .main__get {
      margin: 0 52px 0 32px;
      font-weight: 600;
      font-size: 20px;
      color: $white;
      text-transform: uppercase;
    }
    .main__arrow {
      display: block;
      width: 54px;
      height: 54px;
      background: url("../img/main/arrow.svg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (max-width: 1919px) {
  .main {
    height: calc(100vw * 0.72);
    background: url("../img/main/bg-1440.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main__polygons {
    top: calc(100vw * 0.13);
    left: calc(100vw * 0.1);
    width: calc(100vw * 0.87);
    height: calc(100vw * 0.54);
    background: url("../img/main/polygons-1440.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main__logo-bg {
    width: calc(100vw * 0.4);
    top: calc(-100vw * 0.22);
    left: calc(-100vw * 0.19);
  }

  .main__logo {
    width: calc(100vw * 0.0667);
    height: calc(100vw * 0.0667);
    top: 16px;
    left: 60px;
  }

  .main__header {
    width: calc(100vw * 0.6159);
    margin-left: calc(100vw * 0.2326);
  }

  .main__social {
    top: calc(100vw * 0.4583);
    left: calc(100vw * 0.0479);
  }
  
  .main__content {
    top: calc(100vw * 0.1791);
    left: calc(100vw * 0.1451);
    width: 540px;
    .main__call {
      font-size: 100px;
    }
    .main__description {
      font-size: 22px;
    }
    .main__btn {
      width: 299px;
      height: 66px;
      margin-top: 63px;
      .main__get {
        margin: 0 40px 0 28px;
        font-size: 18px;
      }
      .main__arrow {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 1439px) {
  .main {
    height: calc(100vw * 1.15);
    background: url("../img/main/bg-768.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main__polygons {
    top: calc(100vw * 0.17);
    left: calc(100vw * 0.46);
    width: calc(100vw * 0.6);
    height: calc(100vw * 0.68);
    background: url("../img/main/polygons-768.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main__logo-bg {
    width: calc(100vw * 0.42);
    top: calc(-100vw * 0.2);
  }

  .main__logo {
    width: calc(100vw * 0.0833);
    height: calc(100vw * 0.0833);
    top: 15px;
    left: 40px;
  }

  .main__header {
    width: calc(100vw * 0.6497);
    margin-top: 38px;
    margin-left: calc(100vw * 0.2981);
    .nav>ul>li>a {
      font-size: 13px;
    }
  }

  .main__social {
    height: 45px;
    width: 192px;
    position: absolute;
    top: calc(100vw * 0.9764);
    left: calc(100vw * 0.1042);
    flex-direction: row;
  }

  .main__content {
    top: calc(100vw * 0.2382);
    left: calc(100vw * 0.0521);
    width: 392px;
    .main__call {
      font-size: 80px;
    }
    .main__description {
      width: 334px;
      font-size: 20px;
    }
    .main__btn {
      width: 299px;
      height: 66px;
      margin-top: 60px;
      .main__get {
        margin: 0 40px 0 28px;
        font-size: 18px;
      }
      .main__arrow {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main__polygons {
    top: calc(100vw * 0.22);
    left: calc(100vw * 0.63);
    width: calc(100vw * 0.48);
    height: calc(100vw * 1.56);
    background: url("../img/main/polygons-375.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main {
    height: calc(100vw * 2.03);
    min-height: 100vh;
    background: url("../img/main/bg-375.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main__logo-bg {
    background: url("../img/main/logo-circle.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(100vw * 0.45);
    top: calc(-100vw * 0.21);
    left: calc(-100vw * 0.17);
    z-index: 10;
  }

  .main__logo {
    width: calc(100vw * 0.149);
    height: calc(100vw * 0.149);
    top: 9px;
    left: 16px;
    background: url("../img/main/logo-375.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
  }

  .main__header {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    margin-left: 0;
    background: linear-gradient(to right, $main-nav-background-first, $main-nav-background-second);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    transition: top 1s ease;
    .nav {
      height: 100%;
      ul {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        li {
          margin: 20px 0;
        }
        .nav__cross {
          position: absolute;
          top: calc(50vh - 7px);
          right: 26px;
          display: block;
          width: 14px;
          height: 14px;
          background: url("../img/main/cross.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .main__header_active {
    top: 0;
  }

  .main__burger {
    position: absolute;
    top: 28px;
    left: calc(100vw * 0.3653);
    display: flex;
    align-items: center;
    z-index: 10;
    .menu__stripes {
      width: 16px;
      height: 12px;
      background: url("../img/main/stripes.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .menu__title {
      margin-left: 16px;
      font-size: 15px;
      font-weight: 600;
      color: $main-nav-color;
      text-transform: uppercase;
    }
  }

  .main__social {
    height: 28px;
    width: 116px;
    top: 24px;
    left: calc(100vw - 132px);
    .main__instagram, .main__youtube, .main__faceebook {
      height: 28px;
      width: 28px;
    }
  }

  .main__social_active {
    width: 148px;
    top: calc(100vh - 68px);
    left: calc(50vw - 74px);
  }

  .main__content {
    top: calc(100vw * 0.304);
    left: calc(100vw * 0.0427);
    width: 304px;
    .main__call {
      font-size: 56px;
    }
    .main__description {
      margin-top: 16px;
      width: 304px;
      font-size: 16px;
    }
    .main__btn {
      width: 251px;
      height: 58px;
      margin-left: calc(47.865vw - 125px);
      margin-top: 207px;
      .main__get {
        margin: 0 36px 0 20px;
        font-size: 15px;
      }
      .main__arrow {
        width: 42px;
        height: 42px;
      }
    }
  }
}

@media (max-width: 340px) {
  .main__social {
    width: calc(100vw * 0.31);
    left: calc(100vw * 0.69 - 5px);
  }

  .main__social_active {
    width: 148px;
    top: calc(100vh - 68px);
    left: calc(50vw - 74px);
  }
}