@import "./base/normalize.scss";
@import "./base/nullstyle.scss";
@import "./style/main.scss";

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

/* .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
} */




